[submodule ".tests/scripts"]
	path = .tests/scripts
	url = git@github.com:nesfit/IZP.git
	branch = _test-scripts
[submodule "solution"]
	path = solution
	url = git@github.com:nesfit/IZP-solutions.git
	branch = 03-01
